    <nav class="navbar">
      <ul class="nav-links">
        <li class="nav-logo"><a href="/" class="nav-link"><img class="logo" src="logo.png" alt="oliviarchive logo" /></a></li>
        <li class="nav-icon"><a href="/search" class="nav-link"><img class="icon" src="search.png" alt="search icon" /></a></li>
        <li class="nav-item"><a href="/ref" class="nav-link">references</a></li>
        <li class="nav-item"><a href="/articles" class="nav-link">articles</a></li>
        <li class="nav-item"><a href="/insert" class="nav-link">new recipe</a></li>
        <li class="nav-item"><a href="/search" class="nav-link">recipes</a></li>
      </ul>
    </nav>
