<%- include("partials/head.ejs") %>

  <body>

    <%- include("partials/navbar.ejs") %>
    <%- include("partials/flash.ejs") %>

    <div id="content">

    <h1>Search by Title</h1>

    <form method="GET" action="/do-search">
      <label>Title: <input name="searchTitle"></label>
      <input type="submit" value="Search">
    </form>

    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
